@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primaryColor: hsl(14, 90%, 53%);
  --primaryColorLight: hsl(14, 96%, 91%);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(20, 42%, 87%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 10%);
  --greText: hsl(0, 0%, 51%);
  --inputColor: hsl(330, 12%, 97%);
  --cardColor: hsl(300, 3%, 94%);
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.6rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}

  .questions .form .formContent {
    gap: 1rem;
    justify-content: space-evenly;
  }
  .questions .form .formContent .inputContainer {
    margin: 10px;
  }
  .questions .form .formContent input{
    background: var(--cardColor);
    width: 100%;
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: var(--borderRadius);
  }
  .questions .form .formContent input::-moz-placeholder, .questions .form .formContent  {
    font-size: var(--smallFontSize);
    color: var(--blackColor);
  }
  .questions .form .formContent input::placeholder{
    font-size: var(--smallFontSize);
    color: var(--blackColor);
  }

  .inputContainer {
    position: relative;
    width: 100%;
  }
  
  .inputIcon {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }
  
  .icon {
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 1.5rem;
  }

  .error{
    font-size: small;
    text-align: center;
  }
  .error .errorSpan{
    color: rgb(247, 56, 56);
    font-weight: light;
  }
  
  @media screen and (min-width: 1024px) {
    .questions .secHeading h3,
    .questions .secHeading h4 {
      font-size: 1.5rem;
    }
    .questions .secHeading p {
      font-size: var(--h3FontSize);
    }
    .questions .secContainer {
      gap: 3rem;
    }
  }